.Navbar{
  background-color: #373c47 !important;
  /* display:inline; */
  font-size: calc(10px + 2vmin);
  padding:10px
}

nav ul {
    list-style-type: none; /* Remove default list styling */
    margin: 0;
    padding: 0;
    display: flex; /* Use flexbox layout */
  }
  
  nav ul li {
    margin-right: 10px; /* Add some spacing between list items */
  }
  
  nav ul li:last-child {
    margin-right: 0; /* Remove margin from the last list item */
  }
  
  nav ul li a {
    text-decoration: none; /* Remove default link underline */
    color: white; /* Change link color */
  }